<section>
  <div class="chat-title">
    <div class="line-groups"></div>
      <h2 class="section__h2--groups"><%= "#{Group.find(@chat.group_id).name}" %></h2>
    <div class="line-groups"></div>
  </div>

<div class="chat">
  <%= turbo_stream_from "chat_#{@chat.id}_messages" %>
  <div id="messages" class="message">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message, current_user_id: current_user.id %>
      <% current_member = Member.find_by(user_id: current_user.id, group_id: @chat.group_id) %>
      <% read = Read.find_by(member_id: current_member.id, message_id: message.id) %>
      <% read.update(read: true) unless read.read? %>
    <% end %>
  </div>
</div>

<div class="send">
<%= form_with(model: [@chat, @message], url: chat_messages_path(@chat)) do |f| %>
  <div class="send-wrapper">
  <%= f.text_field :content, placeholder: "Message", class:"message-field" %>
  <%= f.submit "Send", class:"send-button" %>
  </div>
<% end %>
</div>
</section>
