<section class="container-chat-individual" >
  <div class="chat-title">
    <div class="line-groups"></div>
      <h2 class="section__h2--groups"><%= "#{Group.find(@chat.group_id).name}" %></h2>
    <div class="line-groups"></div>
  </div>

<div class="chat">
  <%= turbo_stream_from "chat_#{@chat.id}_messages" %>
  <div id="messages" class="message">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message, current_user_id: current_user.id %>
      <% current_member = Member.find_by(user_id: current_user.id, group_id: @chat.group_id) %>
      <% read = Read.find_by(member_id: current_member.id, message_id: message.id) %>
      <% if current_user.id == current_member.user_id %>
        <% read.update(read: true) unless read.read? %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="send">
<%= form_with(model: [@chat, @message], url: chat_messages_path(@chat)) do |f| %>
  <div class="send-wrapper">
  <%= f.text_field :content, placeholder: "Message", class:"message-field center-placeholder" %>
  <%= button_tag(type: 'submit', class: 'send-button') do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-send-2">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" />
        <path d="M6.5 12h14.5" />
      </svg>
    <% end %>
  </div>
<% end %>
</div>
</section>
