<h1>Edit progress</h1>
<%= "Your current progress: #{@progress.completion.round(2)}%" %>
<%= form_with(model: @progress, url: progress_path(@progress.id), method: :patch) do |f| %>
  <%= label_tag :new_progress, "New progress" %>
  <%= number_field_tag :new_progress, nil, required: true, placeholder: "Enter progress here" %>
  <%= f.submit 'Update progression' %>
  <% console %>
<% end %>
<%= link_to "Back", groups_path %>
