<section class="section-index-groups">
  <div class="section__title--groups">
    <div class="line-groups"></div>
      <h2 class="section__h2--groups">Your groups</h2>
    <div class="line-groups"></div>
  </div>

  <div class="container-groups">
    <% @user_groups.each do |group| %>
      <div class="card-group">
        <%= link_to group_path(group.id), class: "card-group-title" do %>
          <% if group.photo.present? && group.photo.key.present? %>
            <%= cl_image_tag(group.photo.key, class: "picture-profile-group") %>
          <% else %>
            <%= image_tag "Držení Za Ruce.jfif", class: "picture-profile-group" %>
          <% end %>

          <div class="name-group-description">
            <h3><%= group.name %></h3>
            <p>Progress:</p>

            <div class="progress w-100" style="background-color: #bbbbbbdd;" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: <%= group.avg_completion_per_task_member %>%">
                  <%= group.avg_completion_per_task_member.round(2) %>
              </div>
            </div>

          </div>
        <% end %>

        <div class="button-delete-group">
          <% if Member.find_by(user_id: current_user.id, group_id: group.id ).admin %>
            <%= link_to group_path(group.id),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: "delete-button" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                <path d="M9 9l6 6m0 -6l-6 6" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="buttons-index-groups">
    <%= link_to "Create Group", new_group_path, class: "create-group-index" %>
    <button class="button-delete-group-toogle" data-controller="toogle-delete-group" data-action="click->toogle-delete-group#showButtonsDeletes">
      Delete Group
    </button>
  </div>

  <%= link_to "ALL YOUR MESSAGES", chats_path %>
</section>
