<div data-controller="group-member" data-group-member-group-id-value="<%= @group.id %>">
  <h1><%= @group.name %></h1>
  <%= render 'shared/linkShare' %>
</div>

<% if @tasks.present? %>
  <% @tasks.each do |task| %>
      <h2><%= task.name %></h2>
      <% @members.each do |member| %>
        <% progress = Progress.find_by(member_id: member.id, task_id: task.id) %>
        <p>
          <%= User.find(member.user_id).username %>:
          <%= progress.present? ? (link_to "#{progress.completion.round(2)}%", edit_progress_path(progress.id)) : "No progress available" %>
          <% if progress.completion.round(2) >= 100.00 %>
            <i class="fa-solid fa-check"></i>
          <% else %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </p>
      <% end %>
  <% end %>
  <div data-controller="add-group-task">
      <button data-action="click->add-group-task#addTask" class="btn btn-primary">Add Task</button>
      <div data-add-group-task-target="togglableElement" class="d-none">
        <%= render "shared/addnewtask", task: @task %>
      </div>
  </div>

  </div>
<% else %>
    <p>No tasks available</p>
<% end %>

<hr>
<div class="container border mx-2">
  <div class="row">
    <div class="col-6">
      <%= link_to "Your Rewards", group_rewards_path(@group) %>
      <h2>Rewards</h2>
      <% @group.rewards.each do  |reward| %>
        <p><%= reward.name %></p>
      <% end %>
    </div>

    <!-- POPUP REWARDS -->
  <div data-controller="add-group-reward">
      <button data-action="click->add-group-reward#addReward" class="btn btn-primary">Add Reward</button>
      <div data-add-group-reward-target="togglableElement" class="d-none">
        <%= render "shared/addnewreward", reward: @reward %>
      </div>
  </div>


    <div class="col-6">
      <h2>Punishments</h2>
      <% @group.punishments.each do  |punishment| %>
        <p><%= punishment.name %></p>
      <% end %>
    </div>
  </div>

      <!-- POPUP PUNISHMENT -->
  <div data-controller="add-group-punishment">
      <button data-action="click->add-group-punishment#addPunishment" class="btn btn-primary">Add Punishment</button>
      <div data-add-group-punishment-target="togglableElement" class="d-none">
        <%= render "shared/addnewpunishment", punishment: @punishment %>
      </div>
  </div>

</div>

<%= link_to "Back", groups_path %>
