<section class="section-group-detail">

  <!-- Header -->

  <div data-controller="group-member" data-group-member-group-id-value="<%= @group.id %>">
    <div class="container my-4 text-center">
      <div class="row">
        <div class="d-flex justify-content-end">
          <%= render 'shared/linkShare' %>

          <%= link_to groups_path do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>



      </div>
      <div class="row">
        <div class="col-12">
          <h1><%= @group.name %></h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Tasks -->
  <div class="container">
    <div class="row border mb-2"><h2 class="text-center">Tasks</h2></div>
    <div class="row">

      <% if @tasks.present? %>
        <% @tasks.each do |task| %>


            <!-- task element-->
            <div class="d-flex border bg-secondary mx-2">
              <h5><%= task.name %></h5>
              <p>Task Goal: <%= task.quantity %></p>
            </div>


            <!--  Member advance --->
            <% @members.each do |member| %>
              <% progress = Progress.find_by(member_id: member.id, task_id: task.id) %>


                <div data-controller="edit-progress">
                  <div class="row justify-content-center my-2">
                    <div class="col-1">
                      <% if progress.present? %>
                        <% if progress.completion.round(2) >= 100.00 %>
                          <i class="fa-solid fa-check"></i>
                        <% else %>
                          <i class="fa-solid fa-xmark"></i>
                        <% end %>
                      <% end %>
                    </div>

                    <div class="col-3">
                      <%= User.find(member.user_id).username %>
                    </div>


                    <div class="col-7">

                      <div class="progress" data-action="click->edit-progress#toggle">
                        <div class="progress-bar" role="progressbar" style="width: <%= progress.completion.round(2) %>%">
                          <%= progress.completion.round(2) %>
                        </div>
                      </div>

                    </div>

                    <div class="col-1" data-action="click->edit-progress#toggle">
                      <% if progress.present? %>
                        <% if progress.completion.round(2) >= 100.00 %>
                          <i class="fa-solid fa-check"></i>
                        <% else %>
                          <i class="fa-solid fa-pen-to-square"></i>
                        <% end %>
                      <% end %>

                    </div>





                  </div>

                  <div data-edit-progress-target="togglableElement" class="d-none">
                    <%= render "progresses/editprogress", progress: progress %>
                  </div>
                </div>



              <% end %>
        <% end %>

        <div data-controller="add-group-task">
            <button data-action="click->add-group-task#addTask" class="btn btn-primary">Add Task</button>
            <div data-add-group-task-target="togglableElement" class="d-none">
              <%= render "shared/addnewtask", task: @task %>
            </div>
        </div>

        </div>
      <% else %>
          <p>No tasks available</p>
      <% end %>




    </div>

  </div>





  <hr> <br>

   <!-- Your posistion -->

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= link_to group_members_path(@group) do %>
          <i class="fa-solid fa-users"></i>
        <% end %>
      </div>
      <div class="col-9">
        <h3>Your postition in the group</h3>
        <h5><%= @my_index %>'s Place</h5>
        <p>Out of <%= @members.size %></p>
        <p>Behind <%= "Y" %> by <%= 'xxx' %> points </p>
      </div>
    </div>
  </div>

  <hr>
  <div class="container border mx-2">
    <div class="row">
      <div class="col-6">
        <%= link_to "Your Rewards", group_rewards_path(@group) %>
        <h2>Rewards</h2>
        <% @group.rewards.each do  |reward| %>
          <p><%= reward.name %></p>
        <% end %>
      </div>

      <!-- POPUP REWARDS -->
    <div data-controller="add-group-reward">
        <button data-action="click->add-group-reward#addReward" class="btn btn-primary">Add Reward</button>
        <div data-add-group-reward-target="togglableElement" class="d-none">
          <%= render "shared/addnewreward", reward: @reward %>
        </div>
    </div>


      <div class="col-6">
        <h2>Punishments</h2>
        <% @group.punishments.each do  |punishment| %>
          <p><%= punishment.name %></p>
        <% end %>
      </div>
    </div>

        <!-- POPUP PUNISHMENT -->
    <div data-controller="add-group-punishment">
        <button data-action="click->add-group-punishment#addPunishment" class="btn btn-primary">Add Punishment</button>
        <div data-add-group-punishment-target="togglableElement" class="d-none">
          <%= render "shared/addnewpunishment", punishment: @punishment %>
        </div>
    </div>

  </div>




</section>
