<section class="chat-container-group">
  <div class="chat-title">
    <div class="line-groups"></div>
      <h2 class="section__h2--groups"><%= "#{@group.name}'s discussion" %></h2>
    <div class="line-groups"></div>
  </div>

  <div class="chat">
    <%= turbo_stream_from "group_#{@group.id}_messages" %>
    <div id="messages" class="message">
      <% @messages.each do |message| %>
        <%= render "messages/message", message: message, current_user_id: current_user.id %>
      <% end %>
    </div>
  </div>

  <div class="send">
  <%= form_with(model: [@group, @message], url: group_messages_path(@group)) do |f| %>
    <div class="send-wrapper">
    <%= f.text_field :content, placeholder: "Message", class:"message-field" %>
    <%= f.submit "Send", class:"send-button" %>
    </div>
  <% end %>
  </div>
</section>
