<h3 class="form-title">Sign In</h3>
<br>
<h2 class="form-title">HaBet</h2>
<p class="form-subtitle">Go further together</p>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "simple_form" }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "Username", class: "form-control" } %>

    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "current-password", placeholder: "Password", class: "form-control" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign In", class: "btn btn-submit" %>
  </div>
<% end %>

<div class="form-actions">
  <%= render "devise/shared/links" %>
</div>
