<section class="member-detail">
  <div class="container mx-0 mt-2 mb-0 p-0">
    <div class="section__title--groups">
      <div class="line-groups"></div>
        <h2 class="section__h2--groups"><%= Group.find(@member.first.group_id).name %></h2>
      <div class="line-groups"></div>
    </div>

   
    <div class="w-100 m-0 p-1">

      <div class="row mb-2 w-100">
        <h2 class="form-title" >Members Rank</h2>
        <div class="d-flex justify-content-end w-100">
          <%= link_to request.referrer || root_path do %>
          <i class="fa-solid fa-xmark members-close"></i>
          <% end %>
        </div>
      </div>

      <% @sorted_positions.each_with_index do |user, index| %>
        <div class="membercard">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-2 ">
                  <i class="fa-solid fa-user members-avatar"></i>
                </div>
                <div class="col-10">
                  <div class="d-flex justify-content-between my-0">
                    <h5 class="card-member-name"><%= user[:username] == current_user.username ?  "Your position" : user[:username] %></h5>

                  </div>

                    <p class="my-0"><%= index + 1 %> Place!</p>
                    <div class="progress my-0">
                      <div class="progress-bar" role="progressbar" style="width: <%= user[:average_progress]*100.round(2) %>%">
                        <%= (user[:average_progress]*100).round(2) %>%
                      </div>
                    </div>


                </div>
              </div>
            </div>

          </div>
      <% end %>

      <% if  current_user.members.find_by(group_id: params[:group_id]).admin %>
        <div class="row justify-content-center">
          <%= link_to "Edit members", new_group_path, class: "btn btn-primary w-75" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= console %>
