<section class="member-detail" data-controller="edit-members">


  <div class="section-title">
    <div class="line"></div>
    <h2 class="group-name"><%= @group.name %></h2>
    <div class="line"></div>
  </div>

  <div class="members-rank-title">
    <h2>Members Rank</h2>
  </div>

  <div class="members-list">

    <%= turbo_stream_from "group_#{@group.id}_rank" %>
    <div id="group_ranking" class="w-100">
      <%= render 'member_rank', sorted_positions: @sorted_positions, member_user: current_user, group_id: @group.id %>
    </div>

    <div class="toggable-section" data-edit-members-target="toggable">
      <div data-controller="group-member" data-group-member-group-id-value="<%= @group.id %>">
        <%= render 'shared/linkShare' %>
      </div>
    </div>

    <% if current_user.members.find_by(group_id: params[:group_id]).admin %>
      <button class="edit-button" data-action="click->edit-members#toggleEdits" data-edit-members-target="editButton">
        Edit members
      </button>
    <% end %>

  </div>

  <%= turbo_stream_from "group_#{@group.id}_incentives" %>
  <div id="member_incentives" class="w-100">
    <%= render 'incentives', member_punishments: @member_punishments, member_rewards: @member_rewards, group: @group %>
  </div>


</section>
