<div class="container">
  <h1>Group Name</h1>

  <!-- Main Card -->
  <div>
    <div>
      <h2 class="form-title" >Members Rank</h2>
      <%= link_to request.referrer || root_path do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>

    <% @sorted_positions.each_with_index do |user, index| %>
      <div>
        <i ></i>
        <div class="membercard">
          <h5><%= user[:username] %></h5>
          <p><%= index + 1 %> Place!</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= user[:average_progress]*100 %>%">
                <%= user[:average_progress]*100 %>%
              </div>
          </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
