<section class="section-index-members" data-controller="edit-members">

  <div class="title-member-detail">
    <div class="line-members"></div>
      <h3 class="title-member-detail-name">
        <%= @group.name %>
      </h3>
    <div class="line-members"></div>
  </div>

  <div class="members-rank-title">
    <h2>Members Rank</h2>
  </div>

  <div class="members-list">

    <%= turbo_stream_from "group_#{@group.id}_rank" %>
    <div id="group_ranking" class="w-100">
      <%= render 'member_rank', sorted_positions: @sorted_positions, member_user: current_user, group_id: @group.id %>
    </div>

    <!-- <div class="toggable-section d-none" data-edit-members-target="toggable">
      <div data-controller="group-member" data-group-member-group-id-value="<%= @group.id %>">
        <div class="row justify-content-end">
          <div class="w-50 py-2">
            <%= render 'shared/linkShare' %>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.members.find_by(group_id: params[:group_id]).admin %>
      <button class="delete-members-button btn btn-primary my-2" data-action="click->edit-members#toggleEdits" data-edit-members-target="editButton">
        Delete members
      </button>
    <% end %>
    -->
  </div>

</section>
