
<h1>Profile</h1>

<div class="profile-desc">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-picture" %>
  <div class="profile-text">
    <h3><%= @user[:username] %></h3>
    <h5><%= @user[:first_name] %> <%= @user[:last_name] %></h5>
  </div>
</div>

<!-- Progress Calculation -->
<% progress_sum = 0 %>
<% @tasks.each do |t| %>
  <% sum = t.total_progress(@user) %>
  <% progress_sum += sum %>
<% end %>


<!-- Progress bar -->
<div class="progress-profile">
  <h5>Total Progress: </h5>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= [[(progress_sum || 0).round(2), 100].min, 0].max %>%;">
      <%= (progress_sum || 0).round(2) %>% Complete
    </div>
  </div>
</div>

<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-logout" %>
